.navbar-expand{
  background-color: purple;
}

.card-footer{
  background-color: purple;
}

body {
  padding-top: 60px;
}

@media (min-width: 992px) {
  body {
    padding-top: 55px;
  }
}

h5{
  color: grey;
}
